:root {
  --color-primary: #2A7AE4;
  --color-primary-hover: #2769be; 
  --color-background-light: #F5F5F5;
  --color-background: #e9e9ff;
  --color-background-light-hover: #d6d6d6;
  --color-font: #464646;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: var(--color-background);
  }



